{% extends 'base.html' %}

{% block content %}
    {{ super() }}

      <div class="container-fluid main-div">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center form">

                <div class="row text-center">
                    <h3>Enter your new password</h3>
                </div>

                <form action="{{ url_for('auth_blueprint.password_reset', token=token) }}" method="post">
                    {{ form.hidden_tag() }}

                    {% if form.password.errors %}
                        <div class="form-group has-error">
                            {{ form.password(class='form-control form-control-danger') }}
                            {% for error in form.password.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ form.password(class="form-control", placeholder='New password') }}
                        </div>
                    {% endif %}

                    {% if form.retype_password.errors %}
                        <div class="form-group has-error">
                            {{ form.retype_password(class='form-control form-control-danger') }}
                            {% for error in form.retype_password.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ form.retype_password(class="form-control", placeholder='Retype password') }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <button class="btn btn-primary form-button" type="submit">Reset password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}