{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <div class="container-fluid main-div">
        <div class="row">
            <div class="col-md-offset-1 col-md-4 content text-center">
                <h2>About personal training diary</h2>
                <p>Some more content</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 content text-center">
                <h2>About the author</h2>
                <p>Some more content</p>
            </div>
        </div>
    </div>

{% endblock %}