body{
    background-image: url("../images/pozadina_5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*--------------Forms (global)-----------------*/
.form{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    box-shadow: 10px 10px 10px gray;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
}

.form-button{
    background-color: #24292e;
}

.form-button:hover{
    background-color: rgba(36, 41, 46, 0.9);
}

.form-button:active{
   background-color: rgba(36, 41, 46, 0.9);
}

/**/
.main-div{
    background-color: rgba(36, 41, 46, 0.5);
    min-height: 600px;
    margin: 0;
}


/*------------------Index page----------------------*/
.content{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    margin-top: 3%;
    color: #24292e;
}

/*------------------Admin panel---------------------*/

.main-content-area{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    margin-top: 1%;
    text-align: center;
}

#dashboard-div, #latest-activity{
    background-color: #24292e;
    border: 1px solid #24292e;
}

.training-table{
    border-radius: 7px;
    border-color: gray;
    border-collapse: collapse;
}

.training-table thead tr th{
    border-color: gray;
    border-collapse: collapse;
}

.training-table tbody tr td{
    border-color: gray;
    border-collapse: collapse;
}

/*-----------------clients profiles-----------------------*/

.content-profiles-page{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    color: #24292e;
}

.table-training-sessions{
    border-spacing: 1px;
    border-collapse: separate;
    margin: 1% auto 3% auto;
    width: 90%;
}

.table-training-sessions th{
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.table-training-sessions td{
    background-color: #337ab7;
    color: white;
}

.table-training-sessions td a{
    color: white;
    text-decoration: none;
}


/*********************client pages***************************/

.container{
    margin-bottom: 1%;
}

.message-board{
    background: white;
    border-radius: 7px;
    border: 1px solid #e2e2e2;
    box-shadow: 5px 5px 5px #efefef;
    margin: 1%;
}

.client-message{
    display: flex;
    padding: 25px;
    height: auto;
}

.client-message-icon{
   flex-basis: 10%;
}

.client-message-text{
    box-sizing: border-box;
    flex-basis: 70%;
    margin: 10px 5%;
}

.client-message-show-less{
    height: 90px;
    overflow: hidden;
}

.client-message-show-more{
    height: auto;
}

.read-more, .show-less{
    margin: 7px;
}

.client-message a:hover{
    text-decoration: none;
}

.client-message h5{
    font-weight: bold;
}

span.remove{
    cursor: pointer;
}


/*******glyphicons customization***********/
.glyphicon.glyphicon-arrow-right, .glyphicon.glyphicon-arrow-left{
    font-size: 10px;
    color: #337ab7;
}

.glyphicon.glyphicon-file {
    font-size: 35px;
}