{% extends 'base.html' %}

{% block navbar %}
{% include 'clients/client_navbar.html' %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mine_calendar.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    {% include 'flashing_messages.html' %}
    <div id="training-app">
        <do-training user_name="{{ user.first_name }}" user_id="{{ request.args.get('user_id') }}" training_id="{{ request.args.get('training_id') }}"></do-training>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/mine_calendar.js') }}"></script>
{% endblock %}
